@import '../../bower_components/bootstrap/dist/css/bootstrap.css';
html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
}

.trash {
  color: rgb(209, 91, 71);
}

.flag {
  color: rgb(248, 148, 6);
}

.container {
  padding: 0px;
}

.container .glyphicon,
.list-group-item .glyphicon {
  margin-right: 5px;
}

.container .radio,
.checkbox {
  display: inline-block;
  margin: 0px;
}

.container input[type=checkbox]:checked+label {
  text-decoration: line-through;
  color: rgb(128, 144, 160);
}

.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}

.list-group {
  margin-bottom: 0px;
}